/*!******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/public/scss/_reset.css ***!
  \******************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/public/scss/styles.scss ***!
  \**********************************************************************************************************************/
.question__item-list {
  max-width: var(--width-content);
  width: 80%;
  min-width: 440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.question__item-list .question__item {
  width: 20%;
  margin: 10px;
  border: 1px solid #e9e9e9;
  padding: 10px;
  box-shadow: var(--box-shadow) var(--color-shadow);
}
.question__item-list .question__item .question__item-title h4 {
  font-size: 20px;
  font-weight: 600;
}
.question__item-list .question__item .question__item-data {
  text-align: right;
}
.question__item-list .question__item .question__item-data span {
  margin-left: 10px;
}

form a {
  display: block;
  text-align: right;
}

header {
  max-width: var(--width-content);
  width: 80%;
  min-width: 440px;
  display: flex;
  justify-content: space-between;
}
header .header__logo {
  height: 30px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
