<!DOCTYPE html>
<html lang="ko">
<head>
    <% include('../components/header.ejs') %>
    
    <script src="./assets/js/main.js"></script>
    <link rel="stylesheet" href="../../../assets/css/styles.css"> 
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css"> 
    <script src="https://kit.fontawesome.com/b8969f7e81.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="header__logo">
            <a href="/"><img src="#"/></a>
        </div>
        
        <ul>
            <% if(locals.userLoggedIn){%>
                <a href="/logout"><li>logout</li></a>
            <%}else{%>
                <a href="/login"><li>login</li></a>
                <a href="/signup"><li>signup</li></a>
            <%}%>
        </ul>
        
    </header>
    <main>
        <h1>질문지를 만들어 보아요!</h1>
        <form action="/create">
            <label for="questionTitle">제목</label>
            <input type="text" id="questionTitle" name="questionTitle" placeHolder="제목을 입력해주세요"/>
            <label for="questionCount">문항수</label>
            <select id="questionCount" name="questionCount">
                <option value="1">1</option>
                <option value="3">3</option>
                <option value="5">5</option>
            </select>
            <button>새로 만들기</button>
        </form>
    </main>  
    <div class="question__item-list">
        <% if(locals.questionList){%>
            <% questionList = questionList.questions %>
            <% questionList.forEach(function(question){ %>
                <%- include("../components/questionItem",{question}) %>
            <%})%>
        <%}%>
    </div>
</body>
</html>