<!DOCTYPE html>
<html lang="ko">
<head>
    <% include('../components/header.ejs') %>
    
    <script src="./assets/js/main.js"></script>
    <link rel="stylesheet" href="../../../assets/css/styles.css"> 
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css"> 
</head>

<body>
    <header>
        <div class="header__logo">
            <a href="/"><img src="#"/></a>
        </div>
        <nav>
            <ul>
                <a href="/login"><li>login</li></a>
                <a href="/signup"><li>signup</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <h1>질문지를 만들어 보아요!</h1>
        <form action="/create">
            <label for="questionTitle">제목</label>
            <input type="test" id="questionTitle" name="questionTitle" placeHolder="제목을 입력해주세요"/>
            <label for="questionCount">문항수</label>
            <select id="questionCount" name="questionCount">
                <option value="1">1</option>
                <option value="3">3</option>
                <option value="5">5</option>
            </select>
            <button>새로 만들기</button>
        </form>
    </main>  
    
</body>
</html>