<!DOCTYPE html>
<html lang="ko">
<head>
    <% include('../components/header.ejs') %>
    
    <script src="./assets/js/main.js"></script>
    <link rel="stylesheet" href="../../../assets/css/styles.css"> 
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css"> 
</head>

<body>
    <div>
        <nav>
            <ul>
                <a href="/login"><li>login</li></a>
                <a href="/signup"><li>signup</li></a>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <h1>HI</h1>
        <a href="/create">
            <button>새로 만들기</button>
        </a>
    </div>  
    
</body>
</html>