// config
@import "./_reset.css";

// screens
@import "./screens/home.scss";

// components
@import "./components/header.scss";


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}